@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* width */

::-webkit-scrollbar {
  width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgb(223, 221, 228);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(162, 162, 184);
}

.day-box .content{
  max-height: 7em;
  overflow: hidden;
  overflow-y: auto;
}
button {
  line-height: 0!important;
}
button:focus:not(:focus-visible) {
  outline: none;
 }